html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #acacac;
  background-color: #000;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

h1, h2, h3, h4, h5 {
  font-family: 'Press Start 2P', cursive;
  cursor: default;
  user-select: none;
}

div {
  cursor: default;
}


h1:hover, h2:hover, h3:hover, h4:hover, h5:hover,
p:hover, li:hover
{
  color:white;
  background: #acacac -webkit-gradient(linear, 100% 0, 0 0, from(#acacac), color-stop(0.5, #ffffff), to(#acacac));
  background-position: -4rem top;
  background-repeat: no-repeat;
  --thisWidth: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation-name: shimmer;
  -webkit-animation-duration: 4s;
  -webkit-background-size: 4rem 100%;
}

@-webkit-keyframes shimmer {
  0% {
    background-position: -4rem top;
  }

  100% {
    background-position: 100vw;
  }
}

h1 {
  font-size: 32px;
  line-height: 40px;
}

h2 {
  font-size: 24px;
  line-height: 32px;
}

h3 {
  font-size: 20px;
  line-height: 28px;
}

h4 {
  font-size: 16px;
  line-height: 24px;
}

h5 {
  font-size: 14px;
  line-height: 22px;
}

.hidden-above {
  transform: translateY(-100vh);
}

.hidden-below {
  transform: translateY(100vh);
}

.hidden-left {
  transform: translateX(-100vw);
}

.hidden-right {
  transform: translateX(100vw);
}

#main-container {
  display: flex;
  flex-direction: row;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
  transition: transform .3s ease;
}

#main-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;
  width: 400px;
  min-width: 400px;
}

.nav {
  transition: font-size .2s ease-out;
  font-size: 14px;
  line-height: 22px;
  cursor: pointer;
}

.nav:hover, .nav-active {
  font-size: 24px;
  line-height: 32px;
}

#main-views {
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  position: relative;
}

.main-view, .sub-view {
  height: 100vh;
  position: absolute;
  top: 0;
  transition: transform .3s ease;
}

.sub-view-content {
  min-height: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
  margin-right: 80px;
  margin-bottom: 80px;
}

.flex {
  display: flex;
}

.l-pad {
  padding-left: 80px;
}

.v-center {
  margin-top: auto;
  margin-bottom: auto;
}

.w-full {
  width: 100%;
}

.scroll-view {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 100%;
  scroll-behavior: smooth;
}

.projects-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-bottom: 40px;
}

.project-item {
  width: 50%;
}

.project {
  padding: 10px 10px 15px 10px;
}
